.container {
  padding: 20px;
}
table {
  margin: 5%;
}
table,
td,
th {
  border: solid 1px lightgray;
  padding: 5px;
  padding-left: 20px;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: darkgray;
}
.link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  max-width: 400px;
}

.card-details {
  margin: 20px;
  color: gray;
}
.title {
  font-weight: 400;
  color: black;
}
.add-cart-button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid green;
  background: green;
  border-radius: 5px;
  color: white;
  margin: 20px;
}
span {
  font-size: 30px;
}
